---
layout: default
---
<!-- <div class="searchBar">
  <form action="{{ page.url | relative_url }}">
    <input type="text" placeholder="Search an icon..." required></div>
  </form>
</div> -->

<div class="card_wrapper">
  {% for image in site.static_files %}
    {% if image.path contains 'icons/iconFiles' %}
      {% if image.extname == '.svg' or image.extname == '.SVG' %}
        <div class="card" id="{{ image.name | remove: '.svg' }}" data-tags="{{ image.name | remove: '.svg' }}">
          <div class="card_icon">
            <img src="{{ site.baseurl }}{{ image.path }}" alt="{{ image.name }}" />
          </div>
          <div class="card_download_buttons">
            <p class="icon_label_name">{{ image.name | remove: '.svg' }}</p>
            <a href="{{ site.baseurl }}{{ image.path | replace: '.svg', '.pdf' }}" download type="application/octet-stream">PDF</a>
            <a href="{{ site.baseurl }}{{ image.path }}" download type="application/octet-stream">SVG</a>
          </div>
      </div>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
